.nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  margin-right: 0%;
  position: fixed;
 }

 nav>ul{
  text-align: right;
}

 nav>ul>li{
  display: inline-block;
 }

 nav>ul>li>a {
  margin-top: 0px;
  padding: 8px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  border: outset 2px white;
  border-radius: 10px;
  color: #f10e47;
 }

 nav>ul>li>a:hover {
 box-shadow: 0 0 10px rgba(252, 250, 250, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
 background: rgb(248, 205, 223);
 color: rgb(8, 0, 0);
 }

 body{
  background-color: rgb(248, 205, 223);
 }
 #home{
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  animation: animate 20s ease-in-out infinite;
  background-size: cover;
 }
 @keyframes animate{
  0%,100%{
    background-image: url(./images/wd3.jpg);
  }
  25%{
    background-image: url(./images/macro3.jpg);
  }
50%{
    background-image: url(./images/bb.jpg);
  }
75%{
    background-image: url(./images/pt.jpg);
  }
}

 .title{
  position: absolute;
  left: 85%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6em;
  color: rgb(250, 252, 253);
  border: outset 5px white;
  border-radius: 8px;
  font-family: Sacramento;
  padding: 5px;
  margin-bottom: 0px;
 }

.title>span{
  margin-top: 0px;
  font-size: 55px;
}

  h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    color: #f10e47;
    padding: 10px 0px 10px 10px;
  }
  
  img {
    width:  350px;
    height: 350px;
  }
  
  #genre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
  
  .genre {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    width: 350px;
    margin-bottom: 15px;
  }
  .description {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #070707;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
  }

  .container {
    min-width: 500px;
    margin: auto;
  }

.intro{
    text-align: center;
    font-size: 1em;
    font-family: "Sacramento";
    font-size: 58px;
    margin-top: 0px;
}
.intro>span{
  font-family: Sacramento;
  color: #f10e47;
  font-size: 1em;
}

.gallery{
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    color: #f10e47;
    font-family: Sacramento;
}

.slideshow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  .slideshow img{
    margin-bottom: 18px;
    width: 300px;
  }

  .interact{
    text-align: center;
    font-family: "Sacramento";
    font-size: 50px;
    color: #f10e47;
    margin-bottom: 0px;
}

  form{
    padding: 10px;
    text-align: center;
    background-image: url(./images/bb.jpg);
    height: 300px;
    background-size: cover;
    color: white;
  }
  .icon{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f10e47;
    background-size: auto;
  }

  footer {
    text-align: center;
    font-family: Sacramento;
    font-size: 35px;
    color: #f10e47;
  }

  #about{
    font-family: Sacramento;
    font-size: 30px;
    text-align: center;
    border: inset white 5px;
  }
  #about>span{
    color: #f10e47;
  }

  .general {
    text-align: center;
    font-family: Sacramento;
    font-size: 50px;
    color: #f10e47;
    margin-bottom: 0px;
    margin-top: 0px;
  }
 